.navbar-toggler:focus {
    box-shadow: none
}

.mb-100 {
    margin-bottom: 100px
}

.navbar-area.navbar-nine {
    background: var(--primary);
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9
}

.navi {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:991px) {
    .navi {
        justify-content: flex-start;
    }
}

.sticky {
    position: fixed !important;
    z-index: 99 !important;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
    .navbar-area.navbar-nine {
        padding: 10px 0
    }
}

.navbar-area.navbar-nine .navbar-brand {
    height: 70px;
    margin: 0
}

.navbar-area.navbar-nine .navbar-brand img {
    height: 100%;
    width: 100%;
}

.navbar-area.sticky .navbar-brand {
    height: 65px;
}

@media only screen and (max-width:480px) {
    .navbar-area.navbar-nine .navbar-brand {
        height: 70px;
        width: 230px;
    }
}

.navbar-area.navbar-nine .navbar {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-area.navbar-nine .navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: var(--white);
    margin: 5px 0;
    display: block;
    position: relative;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.navbar-area.navbar-nine .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px
}

.logo {
    color: #fff;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
}

.navbar-area.navbar-nine .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0
}

.navbar-area.navbar-nine .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
    .navbar-area.navbar-nine .navbar .navbar-collapse {
        position: absolute;
        top: 116%;
        left: 0;
        width: 100%;
        background-color: var(--primary);
        z-index: 8;
        padding: 10px 16px
    }
}

@media only screen and (min-width:1200px) and (max-width:1399px),
only screen and (min-width:1400px) {
    .navbar-area.navbar-nine .navbar .navbar-nav {
        margin-left: 80px
    }
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
    .navbar-area.navbar-nine .navbar .navbar-nav {
        margin-right: 0
    }
}

.navbar-area.navbar-nine .navbar .navbar-nav .nav-item {
    position: relative
}

.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a {
    display: flex;
    align-items: center;
    padding: 11px 16px;
    color: var(--white);
    text-transform: capitalize;
    position: relative;
    border-radius: 5px;
    font-weight: 500;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    margin: 14px 0;
    opacity: .7
}

.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a:hover {
    opacity: 1
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
    .navbar-area.navbar-nine .navbar .navbar-nav .nav-item a {
        padding: 10px 0;
        display: block;
        border: 0;
        margin: 0
    }
}

.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a.active {
    opacity: 1
}

.navbar-area.navbar-nine .navbar .navbar-nav .nav-item a i {
    font-size: 12px;
    font-weight: 700;
    padding-left: 7px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
    .navbar-area.navbar-nine .navbar .navbar-nav .nav-item a i {
        position: relative;
        top: -5px
    }
}



@media only screen and (min-width:768px) and (max-width:991px),
(max-width:767px) {
    .navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-nav-toggler {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 14px;
        font-size: 16px;
        background: 0 0;
        border: 0;
        color: var(--white)
    }
}

.navbar-area.navbar-nine .navbar .navbar-btn {
    margin-top: 6px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .navbar-area.navbar-nine .navbar .navbar-btn {
        position: absolute;
        right: 70px;
        top: 7px
    }
}

@media(max-width:767px) {
    .navbar-area.navbar-nine .navbar .navbar-btn {
        position: absolute;
        right: 60px;
        top: 7px
    }
}