.contact-section {
    background-color: var(--light-3);
    position: relative;
    z-index: 3;
    padding: 60px 0 60px;
}



@media(max-width:767px) {
    .contact-section {
        padding: 40px 0
    }
}
.phone,.email{
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-3);
    margin: 0;
}
.phone:hover, 
.emial:hover{
    text-decoration: underline;
}
.contact-section .contact-item-wrapper .contact-item {
    display: flex;
    border: 1px solid var(--gray-4);
    border-radius: 10px;
    background: var(--white);
    margin-bottom: 30px;
    padding: 20px 30px;
    box-shadow: var(--shadow-4);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}


@media only screen and (min-width:1200px) and (max-width:1399px) {
    .contact-section .contact-item-wrapper .contact-item {
        padding: 20px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .contact-section .contact-item-wrapper .contact-item {
        flex-direction: column
    }
}

@media(max-width:767px) {
    .contact-section .contact-item-wrapper .contact-item {
        flex-direction: column
    }
}

.contact-section .contact-item-wrapper .contact-item .contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary);
    color: var(--white);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.contact-section .contact-item-wrapper .contact-item .contact-content {
    margin-left: 25px
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
    .contact-section .contact-item-wrapper .contact-item .contact-content {
        margin-left: 20px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .contact-section .contact-item-wrapper .contact-item .contact-content {
        margin-left: 0;
        margin-top: 20px
    }
}

@media(max-width:767px) {
    .contact-section .contact-item-wrapper .contact-item .contact-content {
        margin-left: 0;
        margin-top: 20px
    }
}

.contact-section .contact-item-wrapper .contact-item .contact-content h4 {
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 10px
}

