.FAQs {
    padding: 80px 0;
}

.faq-img {
    text-align: center;
    padding-top: 50px;
}

.faq-img img {
    height: 400px;
    width: 400px;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    background: #fff;
    margin-bottom: 0.5em;
}

.item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.2em;
    padding: 1rem 0;
}

.item-icon {
    flex: 0 0 25px;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background: #dedede;
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
}

.item-icon i {
    font-size: 14px;
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.item-question {
    font-size: 1em;
    line-height: 1;
    font-weight: 600;
    color: #000;
}

 .item-icon.rotate  i {
    transform: rotate(180deg);
}

.item-content {
    max-height: 0;
    overflow: hidden;
    line-height: 150%;
    opacity: 0.8;
    transition: all .5s ;
}

.item-content.show {
    height: auto;
    max-height: 500px;
}
.item-content-body{
    padding: 10px;
}
